<template name="project">
  <h1>{{title}}</h1>

  <form>
    <!--name-->
    <div class="row">
      <div class="large-12 columns">
        <label>Project name
          <input type="text" name="name" value="{{name}}" required/>
        </label>
      </div>
    </div>

    <!--activities-->
    <div class="row">
      <div class="large-6 columns">
        <label>Activities</label>
        <button type="button" class="button tiny secondary" rel="checkActivities">Check all</button>
        <button type="button" class="button tiny secondary" rel="uncheckActivities">Check none</button>
      </div>

      <div class="large-6 columns">
        <label>Client
          <select name="client">
            <option value="">-</option>
            {{#each clients}}
              <option value="{{_id}}" {{selectedClient}}>{{name}}</option>
            {{/each}}
          </select>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        {{#each activities}}
          <input type="checkbox" name="activity" id="{{_id}}" {{isChecked}} />
          <label for="{{_id}}">{{name}}</label>
        {{/each}}
      </div>
    </div>

    <!--status-->
    <div class="row">
      <div class="large-6 columns">
        <label>Status</label>
        <input type="checkbox" name="status" id="status" {{isActive}} /><label for="status">Active</label>
      </div>
    </div>

    <!--save/delete-->
    <div class="row">
      <div class="large-12 columns">
        <button class="button" type="submit">{{saveText}}</button>
      </div>
    </div>
  </form>
</template>