<template name="project">
  <h1>{{title}}</h1>

  <form>
    <div class="row">
      <div class="large-12 columns">
        <label>Project name
          <input type="text" name="name" value="{{name}}" required/>
        </label>
      </div>
    </div>

    <!--activities-->
    <div class="row">
      <div class="large-12 columns">
        <label>Activities</label>
        <button type="button" class="button tiny secondary">Check all</button>
        <button type="button" class="button tiny secondary">Check none</button>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        {{#each activities}}
          <input type="checkbox" name="activity" id="{{_id}}"/><label for="{{_id}}">{{name}}</label>
        {{/each}}
      </div>
    </div>

    <!--status-->
    <div class="row">
      <div class="large-6 columns">
        <label>Status
          <select name="status">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
        </label>
      </div>
      <div class="large-6 columns">
        <label>Client
          <select name="status">
            <option value="client1">Client 1</option>
            <option value="client2">Client 2</option>
          </select>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <label>Budget
          <input type="number" name="budget" />
        </label>
      </div>
      <div class="large-6 columns">
        <label>Budget unit
          <select name="budgetUnit">
            <option value="hours">Hours</option>
            <option value="days">Days</option>
            <option value="weeks">Weeks</option>
            <option value="months">Months</option>
            <option value="sek">SEK</option>
          </select>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <button class="button" type="submit">{{saveText this}}</button>
      </div>
    </div>
  </form>
</template>