<template name="role">
  <h1>{{roleName}}</h1>

  <form>
    <div class="row">
      <div class="large-12 columns">
        <label>Role name
          <input type="text" name="role" value="{{name}}" required />
        </label>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <button class="button" type="submit">{{saveText}}</button>
        {{#if this._id}}
          <button type="button" class="button alert right" rel="delete">Delete</button>
        {{/if}}
      </div>
    </div>
  </form>
</template>