<template name="login">
  <h1>Login</h1>

  <form class="login">
    <div class="row">
      <div class="large-12 columns">
        <label>Username
          <div class="row collapse">
            <div class="small-8 columns">
              <input type="text" name="username" required/>
            </div>
            <div class="small-4 columns">
              <span class="postfix">@weahead.se</span>
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Password
          <input type="password" name="password" required/>
        </label>
      </div>
    </div>
    <button type="submit" class="button">Login</button>
  </form>
</template>