<template name="adminNav">
  {{#if isInRole 'admin'}}
    <ul class="left">
      <li class="has-dropdown not-click">
        <a href="#">Admin</a>
        <ul class="dropdown">
          <li>{{#linkTo route="users"}}Users{{/linkTo}}</li>
          <li>{{#linkTo route="roles"}}Roles{{/linkTo}}</li>
        </ul>
      </li>
      <li>{{#linkTo route="clients"}}Clients{{/linkTo}}</li>
      <li>{{#linkTo route="projects"}}Projects{{/linkTo}}</li>
      <li>{{#linkTo route="activities"}}Activities{{/linkTo}}</li>
    </ul>
  {{/if}}
</template>